$dark-orange: rgb(254, 168, 86);
$dark-orange-hovered: rgb(244, 145, 50);
$dark-grey: rgba(255, 255, 255, 0.35);
$dark-grey-hovered: rgba(255, 255, 255, 0.5);
$dark-success-green: rgb(109, 212, 0);
$dark-danger-red: rgb(255, 28, 55);
$dark-background-color: #1c1b1b;
