@function set-color($color, $color-dark: #1C1B1B, $color-light: #ffffff) {
  @if (lightness($color) > 50) {
    @return $color-dark;
  } @else {
    @return $color-light;
  }
}
@mixin placeholder {
  &::-webkit-input-placeholder {@content; opacity: 1;}
  &:-moz-placeholder           {@content; opacity: 1;}
  &::-moz-placeholder          {@content; opacity: 1;}
  &:-ms-input-placeholder      {@content; opacity: 1;}
}
@mixin mobile {
  @media screen and (max-width: 734px){
    @content;
  }
}
@mixin not-mobile {
  @media screen and (min-width: 735px){
    @content;
  }
}
@function rem($size) {
  $remSize: $size / 19;
  @return #{$remSize}rem;
}
@function per($size, $guide: 1440) {
  $per: $size / $guide * 100;
  @return #{$per + "%"};
}
$f: 'Roboto', sans-serif;
$hero: #FFA959;
$bg: #1C1B1B;
