body {
  background: #f6f9fa;
  min-height: 100vh;
}

#app {
  .main-body.light-mode {
    background-color: var(--theme-background);
    color: rgb(103, 117, 124);

    header {
      background: #fff;

      .icon-logo {
        color: #FFA959;
      }

      .light-switcher,
      .header-c nav a {
        color: #455a64;
      }
    }

    section {
      background: var(--theme-background);
      color: rgb(103, 117, 124);

      .slides-form input {
        border-color:  rgba(0, 0, 0, 0.5);
        color: #67757c;

        &::placeholder {
          color: rgba(#67757c, .8);
        }

        &:hover {
          border-color: rgba(0, 0, 0, 0.8);
        }

        &:focus {
          border-color: #ffa959;
        }
      }

      .label {
        color: #000;
      }

      .pad {
        color: #67757c;
      }
    }
  }
}

.table td,
.table th {
  border-top: 2px solid var(--theme-text);
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon' !important;
}

#main-wrapper,
.app,
.page-wrapper {
  min-height: 100vh;
}

.highcharts-yaxis-grid {
  path{
    stroke: transparent !important;
  }
}

.currency-changer{
  position: fixed;
  margin-left: 267px;
  z-index: 5;
  top: 85px;
  max-height: 500px;
  overflow-y: auto;
}

.chart-days-span{
  background-color: rgba(28, 27, 27, 0.07);
  border-radius: 40px;
  padding-left: 15px;
  padding-right: 15px;
  color: rgba(0, 0, 0, 0.7);
}

.chart-days-span.active {
  color: #FFA95A !important;
}

.import-btn-img,
.export-btn-img {
  background-image: url('/images/download-portfolio-light.svg');
  background-position: center;
  background-size: 15px;
  background-repeat: no-repeat;
  position: absolute;
  height: 25px;
  width: 25px;
  right: 0;
}

.import-btn-img {
  transform: rotate(180deg);
}

.highcharts-tooltip{
  .highcharts-tooltip-box{
    fill: white;
  }
  text{
    fill: #222 !important;
  }
}

.switch-bg{
  float: right;
  cursor: pointer;
  height: 22px;
  width: 35px;
  background-color: #BEBEBF;
  border-radius: 20px;
  padding-top: 1px;
}

.switch-circle{
  -webkit-transition: margin 0.3s;
  height: 20px;
  width: 20px;
  background-color: #1d1c1c;
  border-radius: 50%;
  position: relative;
  margin-left: 1px;
}

.switch-bg-moved{
  background-color: #f76e45;
}

.switch-circle-moved{
  background-color: white;
  margin-left: 14px !important;
}

.highcharts-markers{
  .highcharts-point-hover{
    fill: #fea856 !important;
  }
  path:hover{
    fill: rgb(254, 168, 86) !important;
  }
}

.currency-img{
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-size: 10px;
  position: absolute;
  margin-left: 35px;
  margin-top: 2px;
}

.currency{
  background-color: white;
  width: 50px;
  height: 25px;
  padding-left: 10px;
  cursor: pointer;
}

.currency:hover{
  background-color: var(--theme-background);
}

.chart-days {
  cursor: pointer;
  margin-right: 30px;
  font-size: 18px;
  display: inline-block;
}

.fix-header .page-wrapper {
  min-height: 100vh;
  position: relative;
  padding-top: 70px;
}
.vtabs {
  display: table;

  .tabs-vertical {
    z-index: 3;
    width: 250px;
    border-bottom: 0;
    border-right: 1px solid $border;
    display: block;
    vertical-align: top;
    li .nav-link {
      margin-left: 4px;
      color: $dark;
      margin-bottom: 10px;
      border: 0;
      border-radius: $radius 0 0 $radius;

    }
    li .nav-link.active, li .nav-link:hover{
      opacity: unset !important;
      margin-left: 0px;
      border: 0px  !important;
      border-radius:0 !important;
      border-left: 4px solid #F49132 !important;
      color: #F49132 !important;
    }
  }

  .tab-content {
    display: table-cell;
    padding: 17px;
    vertical-align: top;
  }
}

@media (max-width: 992px) {
  .currency-changer{
    top: 100px;
  }
}

.align-items-center{
  display: flex;
  align-items: center;
}
.portfolio-name-bg {
  max-height: 26px;
  background: #EDEDED;
}
.text-success{
  color: #55A200 !important;
}
.text-danger{
  color: #D4172E !important;
}
.small-btns{
  box-shadow: none !important;
  transition: none !important;
  border-radius:20px;
  padding:5px 15px;
  background-color:rgba(28, 27, 27, 0.07);
}
.error_input {
  border: 1px solid red;
  // box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
}

.social-box {
  min-height: 260px;
}

.m-bot15 {
  margin-bottom: 15px;
}

.m-top1rem {
  margin-top: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}

.p-1rem {
  padding: 1rem;
}

.m-left15 {
  margin-left: 15px;
}

.m-top15 {
  margin-top: 15px;
}

.border0 {
  border: 0;
}

.p-right15 {
  padding-right: 15px;
}

.download-app-div {
  justify-content: center;
  margin-bottom: 30px;
  img {
    height: 40px;
  }
}

.subscribe-li {
  margin-left: 20px;
}

.subscription-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  color: rgba(245, 105, 69, 0.9);
  font-weight: 500;
}

.subscription-content {
  font-size: 14px;
  color: rgba(28, 27, 27, 0.9);
  margin-bottom: 25px;
}

.subscribe-variants {
  justify-content: space-around;
  cursor: pointer;
  background-color: rgba(28, 27, 27, 0.07);
  padding: 20px 0;
}

.subscription-text {
  padding: 0 20px;
  margin-top: 25px;
  margin-left: 30px;
  font-size: 14px;
  font-weight: bold;
}

.pro_privilege {
  font-size: 18px;
  color: #000;
  font-weight: normal;
  display: flex;

  span {
    font-weight: bold;
    margin: 0 5px;
  }
}

.subscribe-modal-footer {
  text-align: center;
  display: block;
}

.modal-custom.modal-dialog {
  max-width: 700px;
}

.subscribe-variant {
  height: 115px;
  color: #fff;
  text-align: center;
  max-width: 190px;
  font-size: 33px;
  font-weight: bold;
  background: -moz-linear-gradient(left, #FFB347 0%, $light-dark-orange 100%);
  background: -webkit-linear-gradient(left, #FFB347 0%,$light-dark-orange 100%);
  background: linear-gradient(to right, #FFB347 0%,$light-dark-orange 100%);
  border-radius: 25px;
  padding: 3%;
  display: inline-block;

  .variant {
    font-size: 20px;
    font-weight: normal;
  }
}

.search {
  display: inline-block;
  max-width: 300px;
}

.adding_count {
  max-width: 120px;
}

.adding_price {
  max-width: 100px;
}

.timepicker_width {
  max-width: 100%;
}

.modal-xxl {
  max-width: 1100px;
}

.rdtDays tr td,
.rdtDays tr th {
  padding: 0 !important;
}

.green_color {
  color: green;
}

.red_color {
  color: red;
}

.Select-menu-outer {
  z-index: 5;
}

.breadcrumb {
  position: relative;
  border: 1px solid #a4b7c1;
}

.navbar-brand {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  border: 0;
  background-image: url("/img/coin-stats-logo.png");
  background-size: 45px;
  background-size: 40px auto;
}
// .top-bar {
//     background-color: #fff;
//     border: 1px solid #a4b7c1;
//     padding: 10px 1rem;
//     height: 90px;
// }

.settings-main-div {
  background: #fff;
  min-height: 300px;
  padding: 30px;
}

.coin-stats {
  padding-top: 0.5rem;
}

.beta {
  position: relative;
  left: -25px;
  transform: rotate(-45deg);
  top: -15px;
  color: red;
}

.topbar .top-navbar .navbar-header {
  border-bottom: 1px solid rgba(120, 130, 140, 0.13);
  height: 70px;
  position: fixed;

  img {
    line-height: 70px;
    vertical-align: top;
    display: inline;
    height: 40px;
    margin: 15px 25px 15px 0;
  }
}

.coin-stats-logo-text {
  line-height: 70px;
  height: 70px;
  display: inline-block;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.5rem;
}

.btn-orange {
  :hover {
    background-color: #b3b3b3;
    color: #f4923d;
  }
  background: #f4923d;
  transition: 0.2s ease-in;
  color: #fff;
}

.text-orange {
  color: #f4923d;
}

.login-register {
  background-color: #eeeeef;
}

.page-wrapper {
  // padding-top: 70px;
}

.bg-white {
  background-color: #fff;
}
.bg-white-or-black{
  background-color: #fff;
}
.main-pair-select {
  width: 90px;
}

.top-bar-card {
  line-height: 36px;
  font-size: 24px;
}

.top-bar-card {
  line-height: 36px;
  font-size: 24px;
  @media (max-width: 480px) {
    line-height: 24px;
    font-size: 20px;
  }
}

.portfolio-table-row:hover{
  background-color: rgba(28, 27, 27, 0.04);
}

.right{
  text-align: right;
}

.add-portfolio-btn {
  display: inline-block;
  margin: 16px;
  width: calc(100% - 32px);
  cursor: pointer;
  background: white;
  border: 1px solid #F49132;
  padding: 10px;
  border-radius: 25px;
  color: #F49132;
  text-align: center;
}

.add-transaction-btn {
  width:250px;
  cursor: pointer;
  background: white;
  border: 1px solid #F49132;
  padding: 10px;
  border-radius: 25px;
  color: #F49132;
  text-align: center;
}

@media (max-width: 767px) {
  .refresh-button {
    display: inline-block;
    margin-left: 10px;
  }
}

.for-table-responsivity {
  display: table;
  @media (max-width: 900px) {
    display: block;
  }
}

.nav-custom-width {
  max-width: auto;
  @media (max-width: 480px) {
    max-width: 150px;
  }
}
@media only screen and (max-width: 1023px) {
  header.topbar {
    position: relative!important;

    .navbar-header {
      padding: 0;
      text-align: center;
      width: 70px;
    }
  }

  .subscribe-li {
    margin-left: 10px;

    button {
      width: 50px;

      span {
        display: none;
      }
    }
  }

  .sidebar-nav.main-menu {
    margin: 0;
  }

  .coin-stats-logo-text {
    display: none;
  }

  .left-sidebar {
    width: 70px;

    .hide-small {
      display: none;
    }
  }

  .sidebar-bottom-navigation ul li a {
    font-size: 12px;
    padding: 3px;
  }
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-orange,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-orange {
  color: #fff;
  background: #f3903f;
}

.fake-icon {
  border-radius: 50%;
  margin-right: .5rem;
  margin-left: -5px;
  color: #000;
  display: inline-block;
  font-weight: bold;
  width: 25px;
  height: 25px;
  text-align: center;
  background-color: #eee;
  padding: 0;
  font-size: 8px;
  line-height: 25px;

  span {
    font-size: 9px;
  }
}

.width-auto {
  width: auto;
}

.sidebar-nav.main-menu a i {
  margin-top: -6px;
}

.oveflow-x-auto {
  overflow-x: auto;
  overflow-y: hidden;
}

.font-weight-500 {
  font-weight: 500;
}

.update-wallet-icon-font-size {
  font-size: 1.5rem;
}

.underline {
  text-decoration: underline;
}

.change-main-pair {
  margin-top: 23px;
  margin-right: 5px;
}

.empty-portfolios {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
}

.custom-control-label::before{
  top: .1rem !important;
}

.add-first-btn {
  box-shadow: none;
  transition: unset;
  width: 275px;
  cursor: pointer;
  background: var(--theme-background) !important;
  color: #F49132;
  border: 1px solid #F49132;
  padding: 10px;
  border-radius: 25px;
  text-align: center;
}

.add-first-btn:hover {
  opacity: unset !important;
  box-shadow: unset !important;
  color: #F49132 !important;
  border: 1px solid #F49132 !important;
}

.add-first-btn:focus {
  opacity: unset !important;
  box-shadow: unset !important;
  color: #F49132 !important;
  border: 1px solid #F49132 !important;
}

.exchange-header{
  font-size: 24px;
}

.follow-step{
  margin-top: 20px;
}

.first-exchange{
  text-align: center;
  justify-content: center;
}

.exchange-element-left{
  width: 265px;
  height: 45px;
  justify-content: flex-start;
  display: flex;
  padding-left: 90px;
  cursor: pointer;
}

.exchange-element-right{
  width: 265px;
  height: 45px;
  justify-content: flex-start;
  display: flex;
  padding-left: 90px;
  cursor: pointer;
}

@media(max-width: 520px) {
  .exchange-element-left{
    padding-left: 110px;
  }

  .exchange-element-right{
    padding-left: 30px;
  }
}

.exchange-row{
  display: flex;
  margin-top: 15px;
}

.input-exchange-api{
  height: 63px;
  width: 345px;
  background: rgba(28, 27, 27, .04);
  color: #222;
  border: 1px solid transparent;
}

.input-row{
  display: inline-flex;
  margin-top: '15px';
}

@media(max-width: 520px) {
  .input-row{
    display: unset;
  }

  .paste-btn{
    float: right;
  }

  .input-exchange-api{
    height: 63px;
    width: 300px;
    background: rgba(28, 27, 27, .04);
    color: #222;
    border: 1px solid transparent;
  }
}

.label-exchange-api{
  font-size: 20px;
  max-width: 345px;
  justify-content: flex-start;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.exchange-manual-footer{
  margin-top: 26%;
  left: 32%;
  right: 32%;
}

.paste-btn {
  margin-top: 20px;
  box-shadow: none;
  transition: unset;
  width: 110px;
  cursor: pointer;
  background: var(--theme-background) !important;
  color: #F49132;
  border: 1px solid #F49132;
  padding: 10px;
  border-radius: 25px;
  text-align: center;
}

.paste-btn:hover {
  opacity: unset !important;
  box-shadow: unset !important;
  color: #F49132 !important;
  border: 1px solid #F49132 !important;
}

.paste-btn:focus {
  opacity: unset !important;
  box-shadow: unset !important;
  color: #F49132 !important;
  border: 1px solid #F49132 !important;
}

.orange{
  color: #F49132;
}

.red{
  color: #D4172E;
}

.submit-exchange-btn {
  box-shadow: none;
  transition: unset;
  width: 180px;
  cursor: pointer;
  background: var(--theme-background) !important;
  color: #F49132;
  border: 1px solid #F49132;
  padding: 10px;
  border-radius: 25px;
  text-align: center;
}

.submit-exchange-btn:hover {
  opacity: unset !important;
  box-shadow: unset !important;
  color: #F49132 !important;
  border: 1px solid #F49132 !important;
}

.submit-exchange-btn:focus {
  opacity: unset !important;
  box-shadow: unset !important;
  color: #F49132 !important;
  border: 1px solid #F49132 !important;
}

@media(max-width: 671px){
  .subscription-text{
    margin-left: 0;
  }
  .pro_privilege{
    margin-top: 10px;
    display: block;
  }
}

@media(max-width: 600px){
  .subscribe-variant {
    font-size: 22px;
    height: 95px;
    max-width: 125px;
    .variant {
      font-size: 14px;
    }
  }
}

@media(max-width: 400px){
  .subscribe-variant {
    font-size: 15px;
    height: 75px;
    max-width: 100px;
    .variant {
      font-size: 12px;
    }
  }
}
