.main-body.light-mode {
  .multi-select-search-dropdown-item {
    border-top: 1px solid var(--theme-text);
    background: white;
    color: black;

    &:hover {
      background-color: #EFEFEF;
    }
  }

  .multi-select-search-dropdown-placeholder-img {
    color: rgba(28, 27, 27, 0.35);

    &:hover {
      color: rgba(28, 27, 27, 0.5);
    }
  }
}
