.main-body.light-mode {
  .dark-light-switch-background{
    background-color: #f76e45;
  }
  
  .dark-light-switch-circle{
    background-color: white !important;
    margin-left: 14px !important;
  }
}
