/* The switch - the box around the switch-slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 26px;
  margin: 0;
}
/* Hide default HTML checkbox */
.switch input {
  display: none;
}
/* The switch-slider */
.switch-slider {
  border-radius: 18px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .switch-slider {
  background-color: #F56945;
}

input:focus + .switch-slider {
  box-shadow: 0 0 1px #F56945;
}

input:checked + .switch-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(18px);
}
